@import "tailwindcss";

* {
  @apply antialiased leading-tight;
  font-family: 'Inter', sans-serif;
}

body {
  @apply bg-[#2A2A2A] text-gray-100 font-sans antialiased overflow-y-auto;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-bold text-gray-100;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
}

p {
  @apply text-gray-300;
  font-family: 'Georgia', serif}